-
  name: Install nginx and start it
  hosts: prod
  become: yes # root user access

  tasks:
    - name: Install nginx
      apt:
        name: nginx
        state: latest
    
    - name: Start nginx
      service: 
        name: nginx
        state: started
        enabled: yes
